// reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// import
@import "utilidades/variables";
@import "utilidades/listas";
@import "utilidades/mapas";
@import "utilidades/mixin";
@import "utilidades/extend";


/* estilos de body */

body{
    /* variables */
    background-color: $color-principal;
    
}

/* estilos de header */

header{
    color: whitesmoke;
    nav{
        ul{
            div{
                li{
                    list-style: none;
                    display: flex;
                    color: whitesmoke;
                }
            }
        }
    }
} 


/* estilos del main */

    /* estilo de main de home */
    /* estilo de main */
main {
    margin: 1.5rem;
    display: grid;
    background-color: whitesmoke;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr; }
    main div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
      main div img p {
        font-size: 1.5rem;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

main{
    .mapa{
        display: flex;
        margin: 1rem;
        text-align: center;
        color: whitesmoke;  
    }
}

    /* estilo de main de contacto */
    .registro{
        margin-left: 640px;
        padding-top: 40px;
        border: 1px white solid;
        border-radius: 8px;
        background-color: #003070;
        width: 600px;
        height: 460px;
        color: white;
        flex-direction: column;

        // mixin
        @include flex
        
    }
    .registro form label{
        margin-left: 14%;
        width: 30%;
        display: inline-block;
    }
    .registro form label, .registro form input{
        margin-top: 20px;
    }
    .nombrein{
        border: 1px rgb(145, 145, 145) solid;
        border-radius: 3px;
        height: 27px;
        width: 168px;
    }
    .apellidoin{ 
      border: 1px rgb(145, 145, 145) solid;
        border-radius: 3px;
        height: 27px;
        width: 168px;
    }
    .emailin{
        border: 1px rgb(145, 145, 145) solid;
        border-radius: 3px;
        height: 27px;
        width: 168px;
    }
    .telefonoin{
        border: 1px rgb(145, 145, 145) solid;
        border-radius: 3px;
        height: 27px;
        width: 168px;
    }
    .consultain{
        border: 1px rgb(145, 145, 145) solid;
        border-radius: 3px;
        height: 27px;
        width: 168px;
    }
    .registrarin{
        border: 1px rgb(255, 255, 255);
        border-radius: 3px;
        height: 40px;
        width: 78px;
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
    }

/* estilos de main gtr */ 
main{
    .gtr{
        height: 100%;
        width: 100%;
        background-color: black;
    }
    .card-text{
        display: flex;
        text-align: left;
    }
}
main{
    .dodge2{
        height: 100%;
        width: 100%;
        background-color: black;
    }
}
main{
    .audir{
        height: 100%;
        width: 100%;
        background-color: black;
    }
}

/* footer */

footer {
    position: relative;
    padding: 30px;
    font-size: 14px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: center;
  }
  
  a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 12px;
  }
  
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
    
/* estilos de footer */

footer {
    margin: 1rem;
    text-align: center;
    color: whitesmoke; 
    .icon {
        margin: 1rem;
        height: 30px;
    }
}
    


/* estilos de main de contacto */
.maincontacto{
    background-color: black;
    .div1{
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px white solid;
    border-radius: 8px;
    background-color: white;
    color: black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .div1 form label{
        margin-left: 14%;
        width: 30%;
        display: inline-block;
    }
    .div1 form label, .div1 form input{
        margin-top: 20px;
    }
    .nombrein{
        border: 1px rgb(145, 145, 145) solid;
        border-radius: 3px;
        height: 27px;
        width: 168px;
    }

    .apellidosin{
        border: 1px rgb(145, 145, 145) solid;
        border-radius: 3px;
        height: 27px;
        width: 168px;
    }

    .emailin{
        border: 1px rgb(145, 145, 145) solid;
        border-radius: 3px;
        height: 27px;
        width: 168px;
    }
    .telefonoin{
        border: 1px rgb(145, 145, 145) solid;
        border-radius: 3px;
        height: 27px;
        width: 168px;
    }
    .enviarin{
        border: 1px rgb(0, 0, 0);
        border-radius: 3px;
        height: 40px;
        color: white;
        width: 78px;
        background-color: rgb(0, 0, 0);
        margin-top: 20px;
    }
}

/* estilos de main de sobre nosotros */

.textsb{
    color: rgba(0, 0, 0, 0.952);
    font-size: 15px;
    text-shadow: 15px 15px 25px;
 
    /* extend */
    @extend %bordes;

   .photo{     
    height: 100%;
    width: 100%;
}
}



/* mediaqueris */ 

/* mq de tablet */
@media screen and (min-width: 600px) {
    main{
        background-color: rgb(65, 65, 65);
    }
}

/* mq de pc */
@media screen and (min-width:1024px) {
    main{
        background-color: rgb(115, 115, 115);
    }
}